*{
    margin:0rem;
    padding:0rem;
}
html{
    font-size: 0.0667vw;
}
body{
    font-size: 16rem;
    font-family: '游明朝 Medium', serif;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-size: 40rem;
    font-weight: bold;
    margin: 50rem auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    font-family: '游明朝 Medium', serif;    
    background-color:rgb(239, 252, 236);
    position: fixed;
    width:100%;
    top:0rem;
    z-index: 2;
}
header .logo {
    flex-grow: 0; /* フレックスアイテムの伸縮を防止 */
}
header .logo a{
    text-decoration: none;
    color: black;
    font-size:40rem;
    font-weight:bold ;
    margin-left:30rem;
}
header ul {
    display: flex; /* ナビゲーションの要素を横並びに */
    list-style-type: none; /* リストマーカーを削除 */
    margin-right: 40rem; 
}
header ul li {
    margin-left: 20px; /* ナビゲーションの要素間にスペースを追加 */
}
header a{
    display: block;
    font-size: 22rem;
    color:black;
    line-height:5vh;
    text-align: center;
    text-decoration: block;
    text-decoration: none;
    margin: 0rem;
    padding: 12rem;
}
header ul li:not(:first-child){
    margin-left: 40rem;
}
header ul li:last-child a {
    background-color: #004b25;
    color: #fff;
    border-radius: 200rem;
    font-size: 25rem;
}
.c-hamburger-menu__input {
display: none;
}

.c-hamburger-menu__bg {
background-color: #000; /* カスタマイズしてください */
cursor: pointer;
display: none;
height: 100vh;
left: 0;
opacity: 0.4; /* カスタマイズしてください */
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
display: block;
}

.c-hamburger-menu__button {
display: none;
}
/* セクション */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}
.faq-container {
    background-color: #ffffff;
    padding: 20rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    margin: 17vh auto 20rem auto;
}
.faq-header {
    font-size: 30rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20rem;
}
.faq-item {
    font-size: 20rem;
}
.faq-title {
    font-weight: bold;
}
footer{
    background-color: #000;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;  /* 追加: 上下中央に配置 */
}

footer p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20rem;
    margin-left: 30rem;   /* 追加: leftの値をmargin-leftに変更 */
}

footer a{
    color: #fff;
    font-size: 30rem;
    margin-right: 30rem;  /* 追加: rightの値をmargin-rightに変更 */
}
@media screen and (max-width:750px) {
    h2{
        text-align: center;
        font-size: 100rem;
        font-weight: bold;
        margin: 50rem auto;
    }
    h2 span{
        box-shadow: 0px -6px 5px -5px  #004b25 inset,0px 8px 4px -8px  #004b25;
    }
    
    p{
        font-size: 40rem;
    }
    .menu {
        position: fixed;
        right: -70%;
        width: 70%;
        height: 100vh;
        margin-left: auto;
        /* メニューを縦に */
        display: flex;
        flex-direction: column;
        color: #efefef;
        background-color: rgba(167, 148, 58, 0.7);
        transition: .3s;
    }
    .menu-list {
        width: 100%;
        height: 100%;
        /* メニューテキスト位置をリスト内中心に */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .c-hamburger-menu__button {
        align-items: center;
        appearance: none;
        background-color: #004b25;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 10px; /* カスタマイズしてください */
        height: 200rem; /* カスタマイズしてください */
        justify-content: center;
        width: 200rem; /* カスタマイズしてください */
      }
    .c-hamburger-menu__button-mark {
        background-color: white; /* カスタマイズしてください */
        display: block;
        height: 2px; /* カスタマイズしてください */
        transition: 0.3s; /* カスタマイズしてください */
        width: 180rem; /* カスタマイズしてください */
    }
    #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(1) {
        transform: translate(4px, -5px) rotate(45deg);
        transform-origin: 0%; 
    }
    #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(2) {
        opacity: 0;
    }
    #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(3) {
        transform: translate(4px, 7px) rotate(-45deg); 
        transform-origin: 0%; 
    }
    .c-hamburger-menu__list {
        background-color: #eeeeee; /* カスタマイズしてください */
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 2rem; /* カスタマイズしてください */
        position: absolute;
        transform: translateX(-100%);
        transition: 0.3s; /* カスタマイズしてください */
        top: 100%;
        width: 100%;
    }
    
    #hamburger:checked ~ .c-hamburger-menu__list {
        transform: translateX(0%);
        transition: 0.3s;
    }
    header{
        height: 300rem;
    }
    header .logo a{
        font-size:100rem;
    }
    header ul {
        display: flex; /* ナビゲーションの要素を横並びに */
        list-style-type: none; /* リストマーカーを削除 */
    }
    header ul li {
        margin-left: 40rem; /* ナビゲーションの要素間にスペースを追加 */
    }
    header ul li a{
        font-size: 70rem;
    }
    header ul li:last-child a {
        background-color: transparent;
        color: #004b25;
        border-radius: 0rem;
        font-size: 80rem;
    }
    .faq-header {
        font-size: 100rem;
    }
    .faq-item {
        font-size: 50rem;
    }
    footer{
        display: none;
    }
}