*{
    margin:0rem;
    padding:0rem;
}
html{
    font-size: 0.0667vw;
}
body{
    font-size: 16rem;
    font-family: '游明朝 Medium', serif;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-size: 40rem;
    font-weight: bold;
    margin: 50rem auto;
}
h2 span{
    box-shadow: 0px -6px 5px -5px  #004b25 inset,0px 8px 4px -8px  #004b25;
}
h3{
    font-size: 30rem;
}
p{
    font-size: 18rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    font-family: '游明朝 Medium', serif;    
    background-color:rgb(239, 252, 236);
    position: fixed;
    width:100%;
    top:0rem;
    z-index: 2;
}
header .logo {
    flex-grow: 0; /* フレックスアイテムの伸縮を防止 */
}
header .logo a{
    text-decoration: none;
    color: black;
    font-size:40rem;
    font-weight:bold ;
    margin-left:30rem;
}
header ul {
    display: flex; /* ナビゲーションの要素を横並びに */
    list-style-type: none; /* リストマーカーを削除 */
    margin-right: 40rem; 
}
header ul li {
    margin-left: 20px; /* ナビゲーションの要素間にスペースを追加 */
}
header a{
    display: block;
    font-size: 22rem;
    color:black;
    line-height:5vh;
    text-align: center;
    text-decoration: block;
    text-decoration: none;
    margin: 0rem;
    padding: 12rem;
}
header ul li:not(:first-child){
    margin-left: 40rem;
}
header ul li:last-child a {
    background-color: #004b25;
    color: #fff;
    border-radius: 200rem;
    font-size: 25rem;
}
.c-hamburger-menu__input {
display: none;
}

.c-hamburger-menu__bg {
background-color: #000; /* カスタマイズしてください */
cursor: pointer;
display: none;
height: 100vh;
left: 0;
opacity: 0.4; /* カスタマイズしてください */
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
display: block;
}

.c-hamburger-menu__button {
display: none;
}
/* セクション */
section {
    width: 100%;
    box-sizing: border-box;
    margin: 50rem 00rem;
}
#Home{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* 画面の高さに合わせる */
}
#Home img{
    box-sizing: border-box;
    object-fit: contain;
    position: relative;
    align-items: center;
    max-height: 100vh;
    max-width: 80vw;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
#Home .Hometxt{
    margin: auto;
    left: 6vw;
    position: absolute;
}
#Home .Hometxt h1{
    font-size: 80rem;
    font-family: '游明朝 Medium', serif;
    color:white;
    background-color: rgb(0,0,0,0.4);
}
#Home .Hometxt .title h1{
    font-size: 100rem;
    color:white;
    background-color: rgb(0,0,0,0.4);
    margin-bottom: 100rem;
}
#event h3{
    text-align: center;
    font-size: 20rem;
    margin: 50rem auto 20rem auto;
}
#event .play{
    width: 80vw;
    margin:0 auto;
    padding: 10rem;
    background-color: #fffdd4;
}
#event .play h3{
    font-size: 30rem;
}
#event .rule{
    margin: 20rem;
}
#event .rule img{
    width: 50vw;
    height: 30vw;
    display: block;
    margin: 0 auto;
    padding: 10rem;
    object-fit: cover;
}
#event .rule h4{
    font-size: 25rem;
}
#event .rule a{
    background-color: #004b25;
    padding: 8rem;
    display: block;
    text-align: center;
    width: 200rem;
    margin: 20rem auto;
    color: #fff;
    border-radius: 200rem;
    font-size: 20rem;
}
#event .gunmanomori h3{
    font-size: 30rem;
}
#event .gunmanomori .gunmanomori_text {
    display: block;
    text-align: center;
    margin: auto;
    width: 80vw;
}
.image-list {
    display: flex; 
    justify-content: center; /* 追加: 子要素を中央に配置する */
    flex-wrap: wrap;
    padding-bottom: 30rem;
    text-align: center;
    margin:0 auto;
}
.image-item{
    margin: 10rem;
    width: 25vw;
    height: 430rem;
    padding: 0; 
    box-sizing: border-box; 
    background-color: rgb(252, 252, 252);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
.image-item img{
    display: block;
    width:100%;
    height:350rem;
    object-fit: cover;
    margin: 0 auto;
}
.image-item p{
    display: block;
    font-size: 20rem;
    margin: 20rem auto;
    width:90%;
}
#information{
    margin: auto;
    padding: 10rem;
    background-color:rgb(239, 252, 236);
}
#information h3{
    display: block;
    margin:20rem auto 10rem 10vw;
    font-size: 25rem;
}
#information p{
    display: block;
    margin:0rem auto 20rem 10vw;
    font-size: 15rem;
}
#apply{
    text-align: center;
}
#apply a{
    display: block;
    font-size: 22rem;
    text-decoration: block;
    text-decoration: none;
    padding: 15rem;
    margin: auto;
    width: 250rem;
    background-color: #004b25;
    color: #fff;
    border-radius: 200rem;
    font-size: 25rem;
}
#require button{
    display: block;
    margin: auto;
    border: none;
}
#require button img{
    width:200rem
}
footer{
    background-color: #000;
    position: relative;
    bottom: 0;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;  /* 追加: 上下中央に配置 */
}

footer p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20rem;
    margin-left: 30rem;   /* 追加: leftの値をmargin-leftに変更 */
}

footer a{
    color: #fff;
    font-size: 30rem;
    margin-right: 30rem;  /* 追加: rightの値をmargin-rightに変更 */
}
@media screen and (max-width:750px) {
    h2{
        text-align: center;
        font-size: 100rem;
        font-weight: bold;
        margin: 50rem auto;
    }
    h2 span{
        box-shadow: 0px -6px 5px -5px  #004b25 inset,0px 8px 4px -8px  #004b25;
    }
    
    p{
        font-size: 40rem;
    }
    .menu {
        position: fixed;
        right: -70%;
        width: 70%;
        height: 100vh;
        margin-left: auto;
        /* メニューを縦に */
        display: flex;
        flex-direction: column;
        color: #efefef;
        background-color: rgba(167, 148, 58, 0.7);
        transition: .3s;
    }
    .menu-list {
        width: 100%;
        height: 100%;
        /* メニューテキスト位置をリスト内中心に */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .c-hamburger-menu__button {
        align-items: center;
        appearance: none;
        background-color: #004b25;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 10px; /* カスタマイズしてください */
        height: 200rem; /* カスタマイズしてください */
        justify-content: center;
        width: 200rem; /* カスタマイズしてください */
      }
    .c-hamburger-menu__button-mark {
        background-color: white; /* カスタマイズしてください */
        display: block;
        height: 2px; /* カスタマイズしてください */
        transition: 0.3s; /* カスタマイズしてください */
        width: 180rem; /* カスタマイズしてください */
    }
    #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(1) {
        transform: translate(60rem, -50rem) rotate(45deg);
        transform-origin: 0%; 
    }
    #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(2) {
        opacity: 0;
    }
    #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(3) {
        transform: translate(60rem, 10rem) rotate(-45deg); 
        transform-origin: 0%; 
    }
    .c-hamburger-menu__list {
        background-color: #eeeeee; /* カスタマイズしてください */
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 2rem; /* カスタマイズしてください */
        position: absolute;
        transform: translateX(-100%);
        transition: 0.3s; /* カスタマイズしてください */
        top: 100%;
        width: 100%;
    }
    
    #hamburger:checked ~ .c-hamburger-menu__list {
        transform: translateX(0%);
        transition: 0.3s;
    }
    header{
        height: 300rem;
    }
    header .logo a{
        font-size:100rem;
    }
    header ul {
        display: flex; /* ナビゲーションの要素を横並びに */
        list-style-type: none; /* リストマーカーを削除 */
    }
    header ul li {
        margin-left: 40rem; /* ナビゲーションの要素間にスペースを追加 */
    }
    header ul li a{
        font-size: 70rem;
    }
    header ul li:last-child a {
        background-color: transparent;
        color: #004b25;
        border-radius: 0rem;
        font-size: 80rem;
    }
    #Home{
        max-height: 80vh;
        height: 80vh;
        display: flex;    
        align-items: center; 
        position: relative;   /* 追加：位置を相対位置として設定 */
    }
    #Home img{
        top:120rem;
        object-fit: cover;
        max-height: 60vh;
        max-width:100vw ;
        height: 60vh;
        width: 100vw;
    }
    #Home .Hometxt{
        left:auto;
        margin: auto;
    } 
    #Home .Hometxt h1{
        font-size: 180rem;
        color:white;
        margin-top:200rem;
        padding: 10rem;
        background-color: rgb(0,0,0,0.4);
    } 
    #Home .Hometxt .title h1{
        margin-bottom:900rem;
        font-size: 200rem;
        display: block;
        width: 60vw;
    }
    #Home .Hometxt .subtitle h1{
        margin-top:500rem;
    }
    #event h3{
        width:80%;
        font-size: 40rem;
    }
    #event .play h3{
        width:80%;
        font-size: 50rem;
    }
    #event .rule h4{
        font-size: 43rem;
    }
    #event .rule p{
        font-size: 30rem;
    }
    #event .rule a{
        padding: 25rem 20rem;
        width: 380rem;
        margin: 20rem auto;
        color: #fff;
        border-radius: 200rem;
        font-size: 40rem;
    }
    #event .gunmanomori h3{
        font-size: 50rem;
    }
    .image-list {
        margin: 40rem;
        display: block; 
    }
    .image-item{
        margin:auto;
        width: 50vw;
        height: auto;
        padding: 0; 
        box-sizing: border-box; 
        background-color: rgb(252, 252, 252);
    }
    .image-item img{
        display: block;
        width:100%;
        height:auto;
        object-fit: cover;
        margin: 0 auto;
    }
    .image-item p{
        display: block;
        font-size: 40rem;
        margin: 20rem auto;
        width:90%;
    }
    #information h3{
        font-size: 45rem;
        margin-top:30rem;
        margin-bottom:30rem;
    }
    #information p{
        margin-top:-20rem;
        font-size: 15rem;
    }
    #apply h2{
        display: block;
        margin: 30rem auto;
        margin-bottom: 50rem;
    }
    #apply a{
        padding: 25rem 20rem;
        width: 380rem;
        margin: 20rem auto;
        color: #fff;
        border-radius: 200rem;
        font-size: 40rem;
    }
    #require h2{
        margin-bottom: 80rem;
    }
    #require button img{
        width:25vw;
        height: auto;
    }
    footer{
        display: none;
    }
}